.font_resizer_plus{
position: fixed;z-index: 999;bottom: 10px;left: 10px;
}
.wp_font_rp_btn{
width: 35px;height: 35px;border-radius: 50%;background-color: #333;color: #fff;font-family: 'Roboto', sans-serif;font-size: 16px;font-style: oblique;font-weight: bold; margin:5px
}
